.main-container-all-time {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.making-width {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 32px;
}

.main-image {
  width: 100vw;
  height: 50vh;
}

.movies-heading {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.lower-one-container {
  background-color: black;
  width: 100vw;
  padding: 16px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
